<h1> 회원가입 </h1>

<form action = "/join/join_process">
  <p>아이디: <input type = "text" name = "login_name"></p>
  <p>암호: <input type = "password" name = "password"></p>
  <p>이름: <input type = "text" name = "realname"></p>
  <p>휴대전화: <input type = "text" name = "phone"></p>
  <input type = "submit" value = "가입하기">
</form>
